In [13]:
val=int(input())
def menu():
  print("1.Celsius to Fahrenheit conversion")
  print("2.Fahrenheit to Celsius conversion")
  n=int(input())
  if n == 1:
    c_to_f(val)
  elif n == 2 :
    f_to_c(val)
  else:
    print("Invalid input")
def c_to_f(c):
  f=round((9*c+160)/5,2)
  print(f"{c}°C={f}°F")
def f_to_c(f):
  c=round((5*f-160)/9,2)
  print(f"{f}°F={c}°C")

menu()

40
1.Celsius to Fahrenheit conversion
2.Fahrenheit to Celsius conversion
2
40°F=4.44°C

In [2]:
items={
    'apple': 30,
    'banana': 10,
    'milk': 50,
    'bread': 40,
    'egg': 30,
    'cheese':150,
    'cashew':300
}
def calculate_bill():
 bill=0
 while True:
    line=input()
    if line=="":
      break;

    parts=line.split()
    item,quantity=parts
    qty=int(quantity)
    if item not in items:
        print("Invalid Input")
        break
    if len(parts)!=2:
        print("Invalid input")
        break
    cost=items[item]*qty
    bill+=cost
 if bill > 500:
    final_bill=round((9*bill)/10,2)
    print(final_bill)
 else:
  print(bill)
calculate_bill()

apple 3
cashew 2

621.0

In [9]:
def student_report():
  name=input()
  m1=int(input())
  m2=int(input())
  m3=int(input())
  avg=(m1+m2+m3)/3
  print(calculate_grade(avg))
def calculate_grade(marks):
  if marks>=90:
    return "A"
  elif marks>=75:
    return "B"
  elif marks>=50:
    return "C"
  else:
    return "F"
student_report()

a
10
100
10
F

In [18]:


def login():
    correct_pin=12345
    attempts=0
    while attempts<3:
     pin=int(input())
     if pin==correct_pin :
        atm_menu()
        break
     else:
        attempts+=1
     if attempts==3:
        print("Limit exceed after 3 incorrect attempts")


def atm_menu():
 while True:
    balance = 1000
    transactions = []
    print("1.Check Balance")
    print("2.Deposit")
    print("3.WithDraw")
    print("4.Exit")
    n=int(input())
    if n==1:
      print(balance)
    elif n==2:
      amount=int(input())
      balance+=amount
      transactions.append(f"Deposited ₹{amount}")
    elif n==3:
      amount=int(input())
      if amount>balance:
        print("No sufficient balance")
      else:
         balance-=amount
         transactions.append(f"Withdrawed ₹{amount}")
    elif n==4:
      print(f"Balance:{balance}")
      print(f"Transactions:{transactions}")
      break;
login()

12345
1.Check Balance
2.Deposit
3.WithDraw
4.Exit
2
300
1.Check Balance
2.Deposit
3.WithDraw
4.Exit
3
50
1.Check Balance
2.Deposit
3.WithDraw
4.Exit
4
Balance:1000
Transactions:[]